.nav-person {
	top: 60px;
	left: 30px;
}

.logo {
	top: logo 40px !important;
}
body{background:#999}

#principal {
	BACKGRUND-COLOR: #FFF;
	border: 0px solid #FFF;
	width: 800px;
	height: auto;
	margin: auto;
	padding: 2px;
}

#cab {
	background-color: #FFF;
	width: auto;
	height: auto;
}

#conteudo {
	background: #FFF;
	border: 0px solid #FFF;
	width: 800;
	height: 800;
	margin: auto;
	padding: 2px;
}

#roda {
	background-color: #FFF;
	width: auto;
	heighst: auto;
}
.h2{

	font: italic;
}


.font-livro{
	color:blue !important;
	font-size: 30px !important;
}

.info-livro{
	top:30px !important;
}





@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; } 
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 10s slidy infinite; 
}


